{% extends "master.html" %}
{% block title %}Home{% endblock %}

{% block body %}
{% load static %}
<div class="container text-center">
<div class="jumbotron ">
    
        <h1 class="display-4">About</h1>
        <p class="lead">.</p>
    </div>
</div>
<div class="container">
    <!-- <div class="shadow p-3 m-5 text-center w-75 bg-white rounded">Vision</div> -->

    <div class="row">
        
        <div class="col-6"></div>
        <div class="col-6 text-center">
            <div class="profile">
                <img class="profile" src="{% static 'images/users/5.jpg' %}">

            </div>
            <p>We envision a future where no one goes hungry and every farmer has the opportunity to contribute to their community in meaningful ways.<br> By leveraging the power of technology and community spirit, we strive to create a self-sustaining ecosystem where everyone benefits.</p>
        </div>
    </div>
    <div class="shadow p-3 m-5 text-center w-75 bg-white rounded">Mission</div>
        
    <div class="row">
        
        <div class="col-6  text-center">
            <div class="">
                <img class="profile" src="{% static 'images/users/5.jpg' %}">

            </div>
            <div class="">
                We envision a future where no one goes hungry and every farmer has the opportunity to contribute to their community in meaningful ways.<br> By leveraging the power of technology and community spirit, we strive to create a self-sustaining ecosystem where everyone benefits.
               <p class="shadow p-3 m-5 text-center w-75 bg-white rounded">
                What We Offer
            </p>
            <div class="text-left">
                <ul>

                <li>
                Food Bank Directory: Easily locate food banks in your area, view their hours of operation, and learn about the services they offer.
            </li>
            <li>
                Farmer Listings: Connect with local farmers, discover fresh produce, and support sustainable agriculture.</li>
                <li>
                Volunteer Opportunities: Find ways to give back to your community by volunteering at food banks and local farms.</li>
                <li>
                Resource Hub: Access educational materials, recipes, and tips for reducing food waste and eating healthily.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
    </div>


    {% endblock %}